<!DOCTYPE html> 
<html>
  <header>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </header>
  <head> 
    <title>
    IBHS Home Page
      </title>
    <h2 id = "blueheader"> WELCOME TO THE IBHS HOMEPAGE: </h2>
    </head>
  <ol> 
    <li>The Statue of Liberty</li>
    <li>Central Park</li>
    <li>Grand Central Station</li>
  </ol>
 
   
  <body> 
    <h2> Central ParK </h2> 
    <p> 
      Central Park is an urban park in the central part of the borough of Manhattan, New York City. It was initially opened in 1857, on 778 acres of city-owned land, later expanding to its current size of 843 acres.
    </p>
    <img src="http://fp-murphy-images-production.s3.amazonaws.com/wp-content/uploads/2015/02/Aerial-view-Central-Park-New-York-United-States.jpg" height="50" width="70"/>
    <a href="http://www.centralparknyc.org/about/"> Find more information about Central Park Here! </a> 
  </body>
  
  <body> 
    <h2> Grand Central Station </h2>
    <p> Grand Central Terminal is a commuter railroad terminal at 42nd Street and Park Avenue in Midtown Manhattan in New York City, United States. </p> 
    <img src="http://staycay.net/wp-content/themes/striking/cache/images/1832_Grand-Central-Station.jpg-628x250.jpg" height="50" width="70" />
    <a href="http://www.grandcentralterminal.com/"> Find more information about Grand Central Station here!</a>
  </body>
  
</html>
         